@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

.hidden {
    display: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

#login-form {
    height: 30px;
}

#todo-form input{
    font-size: 15px;
    margin-top: 30px;
    caret-color: white;
    width: 250px;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
}

ul {
    margin-left: -200px;
    color: white;
    list-style-type: disc;
}

ul button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#todo-form input::placeholder {
    color: white;
}

#todo-form input:focus {
    outline: none;
    color: white;
}

#shadow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: -1;
}

#clock {
    color: white;
    font-size: 130px;
    height: 150px;
    margin: 0;
}

#greeting {
    color: white;
    font-size: 40px;
    margin: 0;
}

#weather {
    position: absolute;
    top: 0;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

#quote {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 17px;
}

span {
    color: white;    
}